@{
    ViewData["Title"] = "Home Page";
}

<div>
    UAH
</div>
<ul id="data"></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.5/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/MyHub").build();

    connection.on("ReceiveData", function (data) {
        console.log(data)
        
        var ul = document.getElementById("data");
        ul.innerHTML = "";
        console.log(ul)
        data.exchangeRate.forEach(item => {
            var li = document.createElement("li");
            li.innerText = `${item.currency}: Sale Rate - ${item.saleRateNB}, Purchase Rate - ${item.purchaseRateNB}`;
            ul.appendChild(li);
        });
    });
    connection.start().then(function () {
        connection.invoke("GetDataCurrency").catch(function (err) {
            return console.error(err.toString());
        });
    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>